<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading">मेरे बारे में</h2>
        </div>
        <div class="text-center">
            <div class="row">
                <div class="col-md-12">
                    <img class="img-thumbnail" src="img/about-me.jpg" alt="Pandit Vinod Sharma" />
                    <h4>Pandit Vinod Sharma</h4>
                    <p>10 years vast and deep experience in astrology.</p>
                    <p>All India 3rd position in Purohitya (कर्मकाण्ड) S.L.B.S.R.S.V.</p>
                    <p>ADDRESS: HOUSE NO. 01, PRACHIN HANUMAN MANDIR, DELHI POLICE SECURITY HEADQUARTERS, </p>
                    <p>MAIN LINE, VINAY MARG, CHANAKYA PURI, NEW DELHI-110021.</p>
                    <p>NEAR C.S.O.I. CLUB. प्रधानमंत्री आवास (श्रीमान नरेंद्र मोदी जी), नेहरू पार्क, अशोका होटल</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <a class="btn btn-dark btn-social" href="https://wa.me/9013387725" aria-label="WhatsApp">
                            <i class="fab fa-whatsapp"></i>
                        </a><br>
                        <label>9013387725</label>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        <a class="btn btn-dark btn-social mx-2" href="https://t.me/mkjrc1008" aria-label="Telegram">
                            <i class="fab fa-telegram"></i>
                        </a><br>
                        <label>9013387725</label>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        <a class="btn btn-dark btn-social mx-2" href="mailto:mkjrc1008@gmail.com"
                            aria-label="Email">
                            <i class="fa-solid fa-envelope"></i>
                        </a><br>
                        <label>mkjrc1008@gmail.com</label>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </div>
</section>