<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">महर्षि कुशज्योतिष अनुसंधान केन्द्र <br>9013387725</div>
        <div class="masthead-heading text-uppercase">विशेषज्ञ कर्मकाण्ड, ज्योतिषज्ञ, शिक्षाचार्य</div>
        <a class="btn btn-primary btn-xl text-uppercase" href="#services">और जाने</a>
    </div>
</header>