<section class="page-section" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">जानकारी संग्रह</h2>
        </div>
        <div class="row text-center p-5">
            <div class="col-md-12">
                <img src="img/on-demand.jpeg" class="img-fluid" />
            </div>
        </div>
        <div class="row">
            <% for(var i=1; i <=4; i++) { %>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolio-modal-<%=i%>">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img src="img/portfolio/<%=i%>.jpeg" class="img-thumbnail" />
                        </a>
                    </div>
                </div>
                <div class="portfolio-modal modal fade" id="portfolio-modal-<%=i%>" tabindex="-1" role="dialog"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="close-modal" data-bs-dismiss="modal"><img src="img/close-icon.svg"
                                    alt="Close modal" /></div>
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8">
                                        <div class="modal-body">
                                            <img class="img-fluid d-block mx-auto"
                                                src="img/portfolio/<%=i%>.jpeg" />
                                            <button class="btn btn-primary btn-xl text-uppercase"
                                                data-bs-dismiss="modal" type="button">
                                                <i class="fas fa-xmark me-1"></i>
                                                बंद करें
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</section>
