<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <div class="logo-holder logo">
            <img class="round-circle" src="img/logo.png" alt="mkjrc" />
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            सूचि
            <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link" href="#about">मेरे बारे में</a></li>
                <li class="nav-item"><a class="nav-link" href="#services">सेवाएं</a></li>
                <li class="nav-item"><a class="nav-link" href="#portfolio">जानकारी संग्रह</a></li>
                <li class="nav-item"><a class="nav-link" data-bs-toggle="modal" href="#contact-modal">संपर्क करें</a></li>
            </ul>
        </div>
    </div>
</nav>